body{
    margin: 0px;
}

.section1 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(cat.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.black-block {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: black;
    min-height: 75vh;
}

.section2 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(puppy.avif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}