body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.balloon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.balloon:hover{
  cursor: pointer;
}