body{
        margin: 0%;
      }

      .box{
        width: 100%;            /*% works for width naturally, but for height you need vh to fill the full screen.*/
        height: 100vh;
        table-layout: fixed;    /*if is not fixed the size will be resize based on the content 'left' & 'right'*/
      }

      .box1{
        background-color: green;
      }

      .box2{
        background-color: red;
      }